node_modules/
.env
cache/
artifacts/

coverage*
typechain/
temp/
scripts/
commands.txt

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

.DS_Store
/.dapp
